name: Deploy to GitHub Pages

on:
  push:
    branches: ["main"] # Ensure your primary branch is named "main"
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Detect package manager # <<
        uses: pnpm/action-setup@v3 # <<
        with: # <<
          version: 10 # <<
          
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          # cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build
        env:
          VITE_BASE_PATH: /library.js.coffee.2nd/        

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './packages/app/webmapper/dist'

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
